:root {
    --light-beige: #f8e4be;
}

body {
    background-color: var(--light-beige);
}

.workspace-of-words {
    margin-top: 100px;
    display: flex;
    justify-content: center;
    width: 100%;
}