:root {
    --light-beige: #f8e4be;
    --beige: #bb9f7e;
    --white: #f2f2f2;
    --black: #222222;
    --blue: #62b0d4;
}

body {
    background-color: var(--light-beige);
}

.workspace-of-words {
    margin: 100px 0 100px 300px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: start;
}

.workspace-of-words p {
    font-size: 3rem;
    font-weight: 700;
}

.add-button {
    width: 60px;
    height: 60px;
    bottom: 20px;
    right: 40px;
    position: fixed;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    transition: 0.1s;
    z-index: 2;
}

.add-button:hover {
    background-color: #5ba4c5;
}

.add-button:active {
    translate: 0 2px;
    -webkit-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 0px 0px 0px rgba(0,0,0,0.75);
}

.add-button h1 {
    color: var(--white);
}

.edit-button {
    width: 60px;
    height: 60px;
    bottom: 100px;
    right: 40px;
    position: fixed;
    background-color: var(--blue);
    color: var(--white);
    border: none;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    -webkit-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    box-shadow: 0px 5px 5px 0px rgba(0,0,0,0.75);
    transition: 0.1s;
    z-index: 2;
}

.edit-button img {
    width: 20px;
    height: 20px;
}