:root {
    --beige: #bb9f7e;
    --white: #f2f2f2;
    --black: #222222;
}

.chapter {
    display: flex;
    flex-direction: column;
}

.chapter-name {
    color: var(--black);
    font-weight: 800;
    font-size: 3rem;
}

.vocabularyChapter {
    width: 70%;
    display: grid;
    grid-template-columns: repeat(4, auto);
    gap: 20px;
    justify-items: center;
}